@import 'mixins';
@import 'normalize';
@import 'variables';
@import 'animate';

html, body {
  font-family: 'Ubuntu', sans-serif;
}

body::-webkit-scrollbar {
  width: 0.30rem;
}

body::-webkit-scrollbar-track {
  background: $bg-secondary;
}
body::-webkit-scrollbar-thumb {
  background: $orange;
}
